<configuration>  
  <system.webServer>
    <handlers>
        <add name="DirectoryFlaskHandle" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\python-apps\directory-project\venv\Scripts\python.exe|C:\python-apps\directory-project\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="main.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\python-apps\directory-project" />
	<!-- <add key="WSGI_LOG" value="C:\inetpub\wwwroot\FlaskApplication\Flask_Demo\app.log" />-->
  </appSettings>
</configuration>  